@model AppLogin.Models._Employees

<div class="row mt-5 justify-content-center">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                Add Employee
            </div>
            <div class="card-body justify-content-center">
                <form asp-controller="Employees" asp-action="Create" method="post">
                    <div class="mb-3">
                        <label>First Name</label>
                        <input class="form-control mb-3" type="text" placeholder="First Name" required asp-for="FirstName" />
                    </div>
                    <div class="mb-3">
                        <label>Last Name</label>
                        <input class="form-control mb-3" type="text" placeholder="Last Name" required asp-for="LastName" />
                    </div>
                    <div class="mb-3">
                        <label>Gender</label>
                        <input class="form-control mb-3" type="text" placeholder="Gender" required asp-for="Gender" />
                    </div>
                    <div class="mb-3">
                        <label>Position</label>
                        <input class="form-control mb-3" type="text" placeholder="Position" required asp-for="Position" />
                    </div>
                    <div class="mb-3">
                        <label>Hire Date</label>
                        <input class="form-control mb-3" type="date" required asp-for="HireDate" />
                    </div>
                    <div class="mb-3">
                        <label>Salary</label>
                        <input class="form-control mb-3" type="text" placeholder="Salary" required asp-for="Salary" />
                    </div>
                    <div class="mb-3">
                        <label>City</label>
                        <input class="form-control mb-3" type="text" placeholder="City" required asp-for="City" />
                    </div>
                    <div class="mb-3">
                        <label>Email</label>
                        <input class="form-control mb-3" type="email" placeholder="Email" required asp-for="Email" />
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary" type="submit">Save</button>
                        <a asp-controller="Employees" asp-action="DashBoard" class="btn btn-warning">Back To DashBoard</a>
                    </div>
                    <div class="mb-3">
                        <label class="form-check-label" for="chkStatus">Status</label>
                        <input class="form-check-input mb-3" type="checkbox" asp-for="Status" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
